# Lawrence OLADEJI's  University of Ibadan MSc Project (IBEDC_OGUN), M4, interpolate

# Importing Libaries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set()

In [2]:
data=pd.read_csv("C:/Users/USER/Desktop/Lawrence/UI Msc/Project folder/ibedcogun/data.csv", parse_dates= {"date" : ["year","month","dow"]})

In [3]:
data.columns

Index(['date', 'ld', 'sd', 'time', 'dom', 'weekend', 'ALLSKY_SFC_SW_DWN',
       'CLRSKY_SFC_SW_DWN', 'TOA_SW_DWN', 'ALLSKY_SFC_PAR_TOT',
       'CLRSKY_SFC_PAR_TOT', 'ALLSKY_SFC_UVA', 'ALLSKY_SFC_UVB',
       'ALLSKY_SFC_UV_INDEX', 'T2M', 'T2MDEW', 'T2MWET', 'QV2M', 'RH2M',
       'PRECTOTCORR', 'WS10M', 'WS2M', 'SP', 'Power Supplied (MW)'],
      dtype='object')

In [4]:
data.shape

(48936, 24)

In [5]:
data.head(5)

,date,ld,sd,time,dom,weekend,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,TOA_SW_DWN,ALLSKY_SFC_PAR_TOT,...,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR,WS10M,WS2M,SP,Power Supplied (MW)
0,2015-11-01,11/1/2015,"Sunday, November 1, 2015",12:00:00 AM,1,True,0.0,0.0,0.0,0.0,...,24.05,23.81,23.93,18.49,98.38,0.21,1.40,0.59,100.12,68.1
1,2015-11-01,11/1/2015,"Sunday, November 1, 2015",1:00:00 AM,1,True,0.0,0.0,0.0,0.0,...,23.98,23.74,23.87,18.43,98.38,0.22,1.37,0.58,100.06,65.2
2,2015-11-01,11/1/2015,"Sunday, November 1, 2015",2:00:00 AM,1,True,0.0,0.0,0.0,0.0,...,23.90,23.65,23.77,18.37,98.25,0.22,1.36,0.57,100.02,60.1
3,2015-11-01,11/1/2015,"Sunday, November 1, 2015",3:00:00 AM,1,True,0.0,0.0,0.0,0.0,...,23.76,23.52,23.64,18.19,98.38,0.21,1.38,0.58,100.00,58.2
4,2015-11-01,11/1/2015,"Sunday, November 1, 2015",4:00:00 AM,1,True,0.0,0.0,0.0,0.0,...,23.65,23.41,23.53,18.13,98.50,0.20,1.41,0.61,100.02,56.7

In [6]:
data.reset_index(drop=True, inplace=True)

In [7]:
data.head()

,date,ld,sd,time,dom,weekend,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,TOA_SW_DWN,ALLSKY_SFC_PAR_TOT,...,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR,WS10M,WS2M,SP,Power Supplied (MW)
0,2015-11-01,11/1/2015,"Sunday, November 1, 2015",12:00:00 AM,1,True,0.0,0.0,0.0,0.0,...,24.05,23.81,23.93,18.49,98.38,0.21,1.40,0.59,100.12,68.1
1,2015-11-01,11/1/2015,"Sunday, November 1, 2015",1:00:00 AM,1,True,0.0,0.0,0.0,0.0,...,23.98,23.74,23.87,18.43,98.38,0.22,1.37,0.58,100.06,65.2
2,2015-11-01,11/1/2015,"Sunday, November 1, 2015",2:00:00 AM,1,True,0.0,0.0,0.0,0.0,...,23.90,23.65,23.77,18.37,98.25,0.22,1.36,0.57,100.02,60.1
3,2015-11-01,11/1/2015,"Sunday, November 1, 2015",3:00:00 AM,1,True,0.0,0.0,0.0,0.0,...,23.76,23.52,23.64,18.19,98.38,0.21,1.38,0.58,100.00,58.2
4,2015-11-01,11/1/2015,"Sunday, November 1, 2015",4:00:00 AM,1,True,0.0,0.0,0.0,0.0,...,23.65,23.41,23.53,18.13,98.50,0.20,1.41,0.61,100.02,56.7

In [8]:
data.describe()

,dom,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,TOA_SW_DWN,ALLSKY_SFC_PAR_TOT,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR,WS10M,WS2M,SP,Power Supplied (MW)
count,48936.000000,48936.000000,48936.000000,48936.000000,48936.000000,48936.000000,48936.000000,48936.000000,48936.000000,48936.000000,48936.000000,48936.000000,48936.000000,48936.000000,48936.000000,48936.000000,48936.000000,48936.000000,48934.000000
mean,15.727317,0.702348,0.918382,1.482005,89.392322,116.072979,11.210191,0.320013,1.207998,25.760204,23.266925,24.513579,18.061904,87.158187,0.197009,1.939812,1.124765,100.072701,86.209200
std,8.798870,0.939882,1.192880,1.789757,120.574739,151.629733,15.275517,0.497703,21.371786,2.687356,2.131188,1.993872,2.046118,12.607574,0.439348,0.736856,0.541947,0.806128,46.735541
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-999.000000,13.220000,8.940000,11.800000,7.140000,28.250000,0.000000,0.020000,0.010000,12.100000,0.000000
25%,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.890000,22.900000,23.510000,17.520000,78.690000,0.010000,1.520000,0.730000,99.940000,61.600000
50%,16.000000,0.030000,0.020000,0.110000,2.380000,2.730000,0.310000,0.000000,0.000000,25.330000,23.780000,24.680000,18.490000,92.440000,0.060000,1.810000,0.960000,100.070000,95.200000
75%,23.000000,1.390000,2.000000,3.220000,177.800000,251.620000,22.300000,0.560000,2.880000,27.800000,24.500000,25.890000,19.350000,97.440000,0.210000,2.290000,1.420000,100.210000,117.200000
max,31.000000,3.440000,3.580000,4.870000,462.620000,462.900000,62.480000,2.330000,13.020000,34.100000,26.760000,28.790000,22.220000,100.000000,14.550000,5.820000,3.740000,153.800000,226.500000

In [13]:
data.drop(data.columns[[0,1,2]], axis=1, inplace=True)

In [25]:
data.head(10)

,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,TOA_SW_DWN,ALLSKY_SFC_PAR_TOT,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR,WS10M,WS2M,SP,Power Supplied (MW)
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,24.05,23.81,23.93,18.49,98.38,0.21,1.40,0.59,100.12,68.1
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.98,23.74,23.87,18.43,98.38,0.22,1.37,0.58,100.06,65.2
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.90,23.65,23.77,18.37,98.25,0.22,1.36,0.57,100.02,60.1
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.76,23.52,23.64,18.19,98.38,0.21,1.38,0.58,100.00,58.2
4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.65,23.41,23.53,18.13,98.50,0.20,1.41,0.61,100.02,56.7
5,0.02,0.02,0.09,1.65,2.23,0.23,0.00,0.00,23.54,23.31,23.42,17.94,98.50,0.24,1.48,0.63,100.09,59.0
6,0.29,0.44,1.08,34.20,53.75,4.37,0.02,0.12,24.00,23.68,23.84,18.37,97.94,0.24,1.37,0.68,100.15,62.8
7,0.68,1.26,2.23,85.45,160.23,11.34,0.19,0.90,24.98,24.08,24.53,18.80,94.62,0.27,1.57,1.02,100.23,75.2
8,1.28,2.06,3.21,165.62,265.77,22.02,0.54,2.77,25.94,24.06,25.01,18.80,89.25,0.26,1.46,0.99,100.27,75.5
9,1.98,2.71,3.97,259.08,349.33,34.16,1.02,5.33,27.16,23.60,25.38,18.25,80.81,0.19,1.39,0.96,100.28,66.3

In [15]:
data.dtypes

ALLSKY_SFC_SW_DWN      float64
CLRSKY_SFC_SW_DWN      float64
TOA_SW_DWN             float64
ALLSKY_SFC_PAR_TOT     float64
CLRSKY_SFC_PAR_TOT     float64
ALLSKY_SFC_UVA         float64
ALLSKY_SFC_UVB         float64
ALLSKY_SFC_UV_INDEX    float64
T2M                    float64
T2MDEW                 float64
T2MWET                 float64
QV2M                   float64
RH2M                   float64
PRECTOTCORR            float64
WS10M                  float64
WS2M                   float64
SP                     float64
Power Supplied (MW)    float64
dtype: object

In [16]:
datanew=data

In [30]:
datanew.interpolate(method="linear", direction="forward", inplace=True)

In [28]:
#datamode=datanew.mask(datanew==0).fillna(datanew.mode())

In [29]:
datanew.head(10)

,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,TOA_SW_DWN,ALLSKY_SFC_PAR_TOT,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR,WS10M,WS2M,SP,Power Supplied (MW)
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,24.05,23.81,23.93,18.49,98.38,0.21,1.40,0.59,100.12,68.1
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.98,23.74,23.87,18.43,98.38,0.22,1.37,0.58,100.06,65.2
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.90,23.65,23.77,18.37,98.25,0.22,1.36,0.57,100.02,60.1
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.76,23.52,23.64,18.19,98.38,0.21,1.38,0.58,100.00,58.2
4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.65,23.41,23.53,18.13,98.50,0.20,1.41,0.61,100.02,56.7
5,0.02,0.02,0.09,1.65,2.23,0.23,0.00,0.00,23.54,23.31,23.42,17.94,98.50,0.24,1.48,0.63,100.09,59.0
6,0.29,0.44,1.08,34.20,53.75,4.37,0.02,0.12,24.00,23.68,23.84,18.37,97.94,0.24,1.37,0.68,100.15,62.8
7,0.68,1.26,2.23,85.45,160.23,11.34,0.19,0.90,24.98,24.08,24.53,18.80,94.62,0.27,1.57,1.02,100.23,75.2
8,1.28,2.06,3.21,165.62,265.77,22.02,0.54,2.77,25.94,24.06,25.01,18.80,89.25,0.26,1.46,0.99,100.27,75.5
9,1.98,2.71,3.97,259.08,349.33,34.16,1.02,5.33,27.16,23.60,25.38,18.25,80.81,0.19,1.39,0.96,100.28,66.3

# Feature Selection
In any good model training pipeline, a critical component is deciding which features will be used as inputs to the model. For many models, a small subset of the input variables provide the lion's share of predictive ability. It is important to lower the amount of input variables for many reasons such as ;

reducung multi collinearity
reducing time to run the model and storage space
easy understanding of important points
to reduce the curse of dimensionality.

In [19]:
data.columns

Index(['ALLSKY_SFC_SW_DWN', 'CLRSKY_SFC_SW_DWN', 'TOA_SW_DWN',
       'ALLSKY_SFC_PAR_TOT', 'CLRSKY_SFC_PAR_TOT', 'ALLSKY_SFC_UVA',
       'ALLSKY_SFC_UVB', 'ALLSKY_SFC_UV_INDEX', 'T2M', 'T2MDEW', 'T2MWET',
       'QV2M', 'RH2M', 'PRECTOTCORR', 'WS10M', 'WS2M', 'SP',
       'Power Supplied (MW)'],
      dtype='object')

In [20]:
# feature importance using tree based classifiers
X = datamean.drop('Power Supplied (MW)', axis =1) # independent columns
'time',
y = datamean['Power Supplied (MW)'] # dependent/target column

In [ ]:
print('Training shapes:',X_train.shape, y_train.shape)
print('Validation shapes:',X_valid.shape, y_valid.shape)

In [ ]:
data = data.apply (pd.to_numeric, errors='coerce')
data = data.reset_index(drop=True)

print (data)

In [ ]:
#remove rows with any values that are not finite
#df_new = data[np.isfinite(data).all(1)]

In [ ]:
data.head()

In [ ]:
from sklearn import datasets, linear_model, metrics

In [ ]:
# create linear regression object
reg = linear_model.LinearRegression()
  
# train the model using the training sets
reg.fit(X_train, y_train)
  
# regression coefficients
print('Coefficients: ', reg.coef_)
  
# variance score: 1 means perfect prediction
print('Variance score: {}'.format(reg.score(X_valid, y_valid)))
  
# plot for residual error
  
## setting plot style
plt.style.use('fivethirtyeight')

In [ ]:
## setting plot style
plt.style.use('fivethirtyeight')
  
## plotting residual errors in training data
plt.scatter(reg.predict(X_train), reg.predict(X_train) - y_train,
            color = "green", s = 10, label = 'Train data')
  
## plotting residual errors in test data
plt.scatter(reg.predict(X_valid), reg.predict(X_valid) - y_valid,
            color = "blue", s = 10, label = 'Test data')
  
## plotting line for zero residual error
plt.hlines(y = 0, xmin = 0, xmax = 50, linewidth = 2)
  
## plotting legend
plt.legend(loc = 'upper right')
  
## plot title
plt.title("Residual errors")
  
## method call for showing the plot
plt.show()

In [ ]:
pip install MultiTrain

In [ ]:
import MultiTrain

In [ ]:
pip install MultiTrain

In [ ]:
from MultiTrain install